/* declare some variables to use below */
:root {
    --boxShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.54),
    0 0.6rem 2rem 0 rgba(0, 0, 0, 0.456);
    --primaryGradient: linear-gradient(90deg,rgba(46, 46, 46, 1) 0%, rgba(79, 43, 43, 1) 50%, rgba(87, 55, 32, 1) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: #171717;
    color: rgb(232, 232, 232);
    /* Google Fonts */
    font-family: "Chakra Petch", sans-serif;
    z-index: 1;
}

/* get rid of default anchor tag styles */
a:link, a:visited {
    text-decoration: none;
    color: #fff;
}