/* declare some variables to use below */
:root {
    --boxShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.54),
    0 0.6rem 2rem 0 rgba(0, 0, 0, 0.456);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: #171717;
    color: rgb(232, 232, 232);
    /* Google Fonts */
    font-family: "Chakra Petch", sans-serif;
    z-index: 1;
}

.headerText h1 {
    margin-bottom: 0;
    font-size: 50px;
    text-transform: uppercase;
}

.headerSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
}

.headerSection::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    background-image: url('./images/ds3/ds3-header-art.jpg');
    filter: blur(4px);
    border-radius: 12px;
    background-position: left;
}

.headerText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0px;
    height: 250px;
    width: 50vw;
    border-radius: 30px;
    background: #2E2E2E;
    background: linear-gradient(90deg,rgba(46, 46, 46, 1) 0%, rgba(79, 43, 43, 1) 50%, rgba(87, 55, 32, 1) 100%);
    box-shadow: var(--boxShadow);
}

.ctaSection {
    height: 200px;
    background: #2E2E2E;
background: linear-gradient(180deg,rgba(46, 46, 46, 1) 0%, rgb(0, 0, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    z-index: 0;
    border-radius: 50px 50px 0 0;
}

.ctaSection h2 {
    font-weight: 300px;
    font-size: 30px;
    color: #cbcbcb;
    border: 5px solid rgba(196, 196, 196, 0.058);
    padding: 30px 50px;
    border-radius: 24px;
}

.gameSection {
    height: 45rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #171717;
}

.gameSection > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #292929;
    padding: 60px 0;
    border-radius: 24px;
    width: 25vw;
}

/* targets the box art for each game */
.gameSection > div > img {
    border-radius: 12px;
    height: 23vw;
    margin-bottom: 2rem;
}

.gameSection .buttonContainer {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100px;
}

.gameSection .buttonContainer > button {
    margin-bottom: 20px;
    background-color: #000000;
	color: inherit;
	border: none;
	padding: 10px 20px;
    width: 13vw;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 12px;
    transition: 200ms ease;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gameSection .buttonContainer > button:hover {
    box-shadow: var(--boxShadow);
}

.gameSection .buttonContainer > button:active {
    box-shadow: none;
    transform: translateY(2px);
}

.submissionSection {
    height: 600px;
    background-color: #121212;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.submissionSection p {
    font-size: 30px;
}

.fireIcon {
    height: 25px;
    width: 25px;
    transform: translate(-5px, -1px);
    margin: 10px;
}